/* Meyer reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Document styling*/

html {
    --bg-color: #f5f5f5;
    --bg-secondary: #60a5fa;
    --text-color: #172554;


    /*Blazing fast system font ;)*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Define standardised text styles*/

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
    font-weight: 900;
    margin: 0.5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem;
}

p {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.6;
    margin: 0 0.5rem;
}

@font-face {
    font-family: Norse;
    src: url(Norse-Bold.otf);
}

/*Page layout*/

body {
    height: 100vh;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: whitesmoke;
}

.nav-header h3 {
    font-family: Norse;
    font-size: 3rem;
}

.footer {
    position: fixed;
    bottom: 1rem;
    left: 4rem;
}

nav button {
    width: 10rem;
    font-size: 1rem;
    text-align: center;
    margin: 1rem;
}


button {
    border: none;
    background-color: var(--bg-secondary);
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.25rem;
    margin: 0.5rem 0 ;

    transition: background-color 0.3s, scale 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: rgba(96,165,250, 0.9);
    scale: 1.02;
}

.to-do {
    background-color: white;
    border: 1px solid var(--bg-secondary);
    margin: 1rem;
    border-radius: 1rem;
}

#content {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 2rem 10rem;
    margin: 2rem 0 2rem 4rem;
}

.projects-card {
    width: 100%;
    height: 6rem;
    border-top: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-card {
    width: 100%;
    height: 12rem;
    border-top: 1px solid #cccccc;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 1rem;
}

.edit-btn {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
}

.complete-btn {
    grid-column: 2/3;
    grid-row: 3/5;
    align-self: center;
}

.btns-div {
    display: flex;
    flex-direction: column;
}

.view-btn,
.remove-btn,
.back-btn {
    width: 6rem;
}

.projects-header {
    margin: 0 0 6rem 0;
}

dialog {
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 1rem;

}

dialog .dialog-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form>input, form>textarea {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #cccccc;
    resize: none;
}

.project-heading {
    margin: 4rem 0;
}

.complete-card {
    background-color: rgba(0, 255, 0, 0.3);
}


